.table-container {
    position: relative;
    top: 10px;
    max-height: 360px;
    overflow-y: scroll;
    border-width: 1px;
    border-color: rgb(175, 174, 174);
    border-style: solid;
}

div {
    box-shadow: none !important;
}

.Name, .Img {
    width: 85px;
    max-width: 85px;
    min-width: 85px;
}

.Exp {
    width: 200px;
    max-width: 200px;
    min-width: 200px;
}

.Headers, .Name, .Img, .Exp {
    color: white !important;
    font-weight: bold !important;
}

.table-head {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 25vw;
    background-color: #009879;
    text-align: left;
}

.add-light-button {
    position: relative;
    left: 200px;
    top: 20px;
}

.container {
    margin: auto;
    width: fit-content;
}

.table {
    min-width: 600px;
    max-width: 1000px;
    table-layout: initial;
    margin: auto;
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 300px;
}

.searchField {
    margin-top: 15px !important;
    /* border-color: #02b491;
    border-radius: 0.5rem;
    border-width: 1px;
    border-style: solid; */
}